<div class="wrapper">
    <div class="container">
        <h1>
            {{ this.title }}
        </h1>
    
        <h2>
            {{ this.title }} is a tool for monitoring the evolution of the
            Coronavirus epidemic in France
        </h2>

        <div class="button-box">
            <a mat-raised-button routerLink="../auth/sign-in">
                <mat-icon aria-hidden="false" aria-label="Example login icon">login</mat-icon>
                SIGN IN
            </a>
            <a mat-raised-button routerLink="../auth/sign-up">
                <mat-icon aria-hidden="false" aria-label="Example account_circle icon">account_circle</mat-icon>
                SIGN UP
            </a>
        </div>
    
    </div>

</div>