<div class="wrapper">
    <mat-card class="container">
      
        <h1>{{ this.title }}</h1>
      
        <form [formGroup]="this.userForm">

            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <label>
                <input matInput placeholder="xyz@gmail.com" formControlName="email" required>
              </label>
              <mat-error *ngIf="this.userForm.get('email').invalid">{{ getErrorMessage('email') }}</mat-error>
            </mat-form-field>
            
            <br>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                </label>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="this.userForm.get('password').invalid">{{ getErrorMessage('password') }}</mat-error>
            </mat-form-field>

          </form>

        <button class="register" mat-raised-button color="primary" [disabled]="enable()" (click)="onSubmit()">
            <mat-icon aria-hidden="false" aria-label="Example login icon">login</mat-icon>
            Log in
        </button>
        <br><br>
        <button class="register" mat-raised-button color="primary" (click)="onCreate()">
          <mat-icon aria-hidden="false" aria-label="Example create icon">create</mat-icon>
          Create an account 
      </button>
    </mat-card>
  </div>