.wrapper {
  
  background-color: #f5f5f5;
  padding: 50px;
  text-align: center;
}

.container {
  width: 60%;
  padding: 50px;
  background-color: #ffffff;
  margin: auto;
}

h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
  margin: 50px;
  text-align: center;
}

form {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

mat-form-field {
  margin: 10px;
}

.largeField, button {
  width: 425px;
}
