mat-grid-list {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 1.25px;
}

h2 {
    font-size: 28px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px;
    text-align: center;
}