<div class="center">
<h2> What types of COVID-19 vaccines are being developed ? How would they work ? </h2>

<p> Scientists around the world are developing many potential vaccines for COVID-19.<br><br>

These vaccines are all designed to teach the body’s immune system to safely recognize and block the virus that causes COVID-19.<br><br>


Several different types of potential vaccines for COVID-19 are in development, including: </p>

<li> Inactivated or weakened virus vaccines, 
    which use a form of the virus that has been inactivated or weakened so it doesn’t cause disease, but still generates an immune response. </li> 
<li> Protein-based vaccines, which use harmless fragments of proteins or protein shells that mimic the COVID-19 virus to safely generate an immune response. </li>
<li> Viral vector vaccines, which use a safe virus that cannot cause disease but serves as a platform to produce coronavirus proteins to generate an immune response. </li>
<li> RNA and DNA vaccines, a cutting-edge approach that uses genetically engineered RNA or DNA to generate a protein that itself safely prompts an immune response.  </li>

<br><br>
<br><br>
</div>

<div class="center">
<h2> Informations about the Oxford/AstraZeneca COVID-19 vaccine</h2>

<h3> Who should be vaccinated first? </h3>
<p> While vaccine supplies are limited, it is recommended that priority be given to health workers at high risk of exposure and older people, including those aged 65 or older. </p>

<h3> Who else can take the vaccine? </h3>
<p> Vaccination is recommended for persons with comorbidities that have been identified as increasing the risk of severe COVID-19, including obesity, cardiovascular disease, respiratory disease and diabetes. </p>

<h3> What is the recommended dosage? </h3>
<p> The recommended dosage is two doses given intramuscularly (0.5ml each) with an interval of 8 to 12 weeks. <br>

Additional research is needed to understand longer-term potential protection after a single dose. </p>

<h3> How efficacious is the vaccine? </h3>
<p> It has an efficacy of 63.09% against symptomatic SARS-CoV-2 infection. <br>

Longer dose intervals within the 8 to 12 weeks range are associated with greater vaccine efficacy. </p>

<br><br>
<br><br>
</div>

<div class="center">
<h2> Informations about the Pfizer BioNTech COVID-19 vaccine</h2>

<h3> Who should be vaccinated first? </h3>
<p> While vaccine supplies are limited, it is recommended that priority be given to health workers at high risk of exposure and older people, including those aged 65 or older. </p>

<h3> Who else can take the vaccine? </h3>
<p> The vaccine has been found to be safe and effective in people with various conditions that are associated with increased risk of severe disease.</p>
<br>
<p> This includes hypertension, diabetes, asthma, pulmonary, liver or kidney disease, as well as chronic infections that are stable and controlled. 
 <br>
Further studies are required for the impacts on immune-compromised persons. 
The interim recommendation is that immune-compromised persons who are part of a group recommended for vaccination may be vaccinated, though when possible, not before receiving information and counselling.
<br>
Persons living with HIV are at higher risk of severe COVID-19 disease. Limited safety data exists on HIV-infected persons with well controlled disease from the clinical trials. 
Known HIV-positive vaccine recipients should be informed, and when possible, counselled in relation to the available data.
<br>
Vaccination can be offered to people who have had COVID-19 in the past. But given the limited vaccine supply, individuals may wish to defer their own COVID-19 vaccination for up to 
6 months from the time of SARS-CoV-2 infection.
<br>
The vaccine has not been studied in lactating women, but it is not a live virus vaccine, the mRNA does not enter the nucleus of the cell and is degraded quickly, 
so it cannot interfere with cell functions.
<br>
If a lactating woman is part of a group (e.g. health worker) recommended for vaccination, vaccination can be offered. SAGE does not recommend 
discontinuing breastfeeding after vaccination. More evidence is being sought in order to further inform WHO’s policy recommendations on this subject.
</p>

<h3> What is the recommended dosage? </h3>
<p> A protective effect starts to develop 12 days after the first dose, 
but full protection requires two doses which WHO recommends be administered with a 
21 to 28-day interval. Additional research is needed to understand longer-term potential protection after a single dose.   
</p>

<h3> How efficacious is the vaccine? </h3>
<p> The Pfizer BioNTech vaccine against COVID-19 has an efficacy of 95% against symptomatic SARS-CoV-2 infection. </p>

<br><br>
<br><br>
</div>


<div class="center">
<h2> Informations about the Moderna COVID-19 (mRNA-1273) vaccine</h2>

<h3> Who should be vaccinated first? </h3>
<p> As with all COVID-19 vaccines, health workers at high risk of exposure and older people should be prioritized for vaccination. <br>

As more vaccine becomes available, additional priority groups should be vaccinated, with attention to people disproportionately affected by COVID-19 or who face health inequities.</p>

<h3> Who else can take the vaccine? </h3>
<p> The vaccine is safe and effective in people with known medical conditions associated with increased risk of severe disease, 
such as hypertension, diabetes, asthma, pulmonary, liver or kidney disease, as well as chronic infections that are stable and controlled.
<br>

Although further studies are required for immunocompromised persons, people in this category who are part of a group recommended for vaccination may be vaccinated after receiving information and counselling.
Persons living with HIV are at higher risk of severe COVID-19 disease. Known HIV-positive vaccine recipients should be provided with information and counselling.
<br>
Vaccination can be offered to people who have had COVID-19 in the past. But individuals may wish to defer their own COVID-19 vaccination for up to six months from the time of SARS-CoV-2 infection.

The vaccine can be offered to a breastfeeding woman who is part of a group recommended for vaccination (e.g. health workers); discontinuing breastfeeding after vaccination is currently not recommended.


</p>


<h3> What is the recommended dosage? </h3>
<p> SAGE recommends the use of the Moderna mRNA-1273 vaccine at a schedule of two doses (100 µg, 0.5 ml each) 28 days apart. If necessary, the interval between the doses may be extended to 42 days.
<br>
Compliance with the full schedule is recommended and the same product should be used for both doses.
</p>

<h3> How efficacious is the vaccine? </h3>
<p> The Moderna vaccine has been shown to have an efficacy of approximately 92 per cent in protecting against COVID-19, starting 14 days after the first dose.</p>

<br><br>
<br><br>
</div>

<div class="center">
<h2> What are the benefits of getting vaccinated ? </h2>

<p> 
The COVID-19 vaccines produce protection against the disease, as a result of developing an immune response to the SARS-Cov-2 virus.  
Developing immunity through vaccination means there is a reduced risk of developing the  illness and its consequences. 
This immunity helps you fight the virus if exposed. Getting vaccinated may also protect people around you, because 
if you are protected from getting infected and from disease, you are less likely to infect someone else. This is particularly important 
to protect people at increased risk for severe illness from COVID-19, 
such as healthcare providers, older or elderly adults, and people with other medical conditions. </p>

<br><br>
<br><br>
</div>

<div class="center">
<h2> Should I get vaccinated even if I have had COVID-19 ? </h2>

<p> Even if you have already had COVID-19, you should be vaccinated when it is offered to you. 
The protection that someone gains from having COVID-19 will vary from person to person, 
and we also don’t know how long natural immunity might last.  </p>

<br><br>
<br><br>
</div>

<div class="center">
<h2> You want to get vaccinted ? </h2>

<p> You can check the avaliables vaccination centers and make an appointment on our website by clicking here : <a mat-raised-button color="warn" href="../../vaccin">Vaccination Centers</a> </p>
       

<br><br>
<br><br>
</div>
<br><br>
<br><br>
<br><br>
<br><br>

<p> Source : <a href="https://www.who.int">who.int</a> </p>


