<div class="center">
<h2> What types of COVID-19 vaccines are being developed ? How would they work ? </h2>

<p> Scientists around the world are developing many potential vaccines for COVID-19.<br><br>

These vaccines are all designed to teach the body’s immune system to safely recognize and block the virus that causes COVID-19.<br><br>


Several different types of potential vaccines for COVID-19 are in development, including: </p>

<li> Inactivated or weakened virus vaccines, 
    which use a form of the virus that has been inactivated or weakened so it doesn’t cause disease, but still generates an immune response. </li> 
<li> Protein-based vaccines, which use harmless fragments of proteins or protein shells that mimic the COVID-19 virus to safely generate an immune response. </li>
<li> Viral vector vaccines, which use a safe virus that cannot cause disease but serves as a platform to produce coronavirus proteins to generate an immune response. </li>
<li> RNA and DNA vaccines, a cutting-edge approach that uses genetically engineered RNA or DNA to generate a protein that itself safely prompts an immune response.  </li>

<br><br>
<br><br>
</div>

<div class="center">
<h2> Informations about the Oxford/AstraZeneca COVID-19 vaccine</h2>

<h3> Who should be vaccinated first? </h3>
<p> While vaccine supplies are limited, it is recommended that priority be given to health workers at high risk of exposure and older people, including those aged 65 or older. </p>

<h3> Who else can take the vaccine? </h3>
<p> Vaccination is recommended for persons with comorbidities that have been identified as increasing the risk of severe COVID-19, including obesity, cardiovascular disease, respiratory disease and diabetes. </p>

<h3> What is the recommended dosage? </h3>
<p> The recommended dosage is two doses given intramuscularly (0.5ml each) with an interval of 8 to 12 weeks. <br>

Additional research is needed to understand longer-term potential protection after a single dose. </p>

<h3> How efficacious is the vaccine? </h3>
<p> It has an efficacy of 63.09% against symptomatic SARS-CoV-2 infection. <br>

Longer dose intervals within the 8 to 12 weeks range are associated with greater vaccine efficacy. </p>

<br><br>
<br><br>
</div>

<div class="center">
<h2> What are the benefits of getting vaccinated ? </h2>

<p> 
The COVID-19 vaccines produce protection against the disease, as a result of developing an immune response to the SARS-Cov-2 virus.  
Developing immunity through vaccination means there is a reduced risk of developing the  illness and its consequences. 
This immunity helps you fight the virus if exposed. Getting vaccinated may also protect people around you, because 
if you are protected from getting infected and from disease, you are less likely to infect someone else. This is particularly important 
to protect people at increased risk for severe illness from COVID-19, 
such as healthcare providers, older or elderly adults, and people with other medical conditions. </p>

<br><br>
<br><br>
</div>

<div class="center">
<h2> Should I get vaccinated even if I have had COVID-19 ? </h2>

<p> Even if you have already had COVID-19, you should be vaccinated when it is offered to you. 
The protection that someone gains from having COVID-19 will vary from person to person, 
and we also don’t know how long natural immunity might last.  </p>

<br><br>
<br><br>
</div>

<div class="center">
<h2> You want to get vaccinted ? </h2>

<p> You can check the avaliables vaccination centers and make an appointment on our website by clicking here : <a mat-raised-button color="warn" href="../../vaccin">Vaccination Centers</a> </p>
       

<br><br>
<br><br>
</div>
<br><br>
<br><br>
<br><br>
<br><br>

<p> Source : <a href="https://www.who.int">who.int</a> </p>


