<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <div>
      <a mat-button routerLink="home">
        <h1>
          {{ this.title }}
        </h1>
      </a>
      <a mat-button routerLink="vaccin">Vaccin</a>
      <a mat-button routerLink="forum">Forum</a>
      <a mat-button routerLink="contact">Contact</a>
    </div>
    <div class="right">
      <a mat-button routerLink="auth/sign-in">Sign in</a>
      <a mat-button routerLink="auth/sign-up">Sign up</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

