<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <div>
      <div *ngIf="this.item === 'default'">
        <a mat-button routerLink="home">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          {{ this.title }}
        </a>
        <a mat-button routerLink="statistics">
          <mat-icon aria-hidden="false" aria-label="Example assessment icon">assessment</mat-icon>
          Covid overview
        </a>
        <a mat-button routerLink="contact">
          <mat-icon aria-hidden="false" aria-label="Example contact_support icon">contact_support</mat-icon>
          Contact
        </a>
      </div>
      <div *ngIf="this.item !== 'default'">
        <a mat-button routerLink="home">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          {{ this.title }}
        </a>
        <a mat-button routerLink="statistics">
          <mat-icon aria-hidden="false" aria-label="Example assessment icon">assessment</mat-icon>
          Covid overview
        </a>
        <a mat-button routerLink="vaccin">
          <mat-icon aria-hidden="false" aria-label="Example local_hospital icon">local_hospital</mat-icon>
          Vaccin
        </a>
        <a mat-button routerLink="forum">
          <mat-icon aria-hidden="false" aria-label="Example forum icon">forum</mat-icon>
          Forum
        </a>
        <a mat-button routerLink="contact">
          <mat-icon aria-hidden="false" aria-label="Example contact_support icon">contact_support</mat-icon>
          Contact
        </a>
      </div>
    </div>

    <div class="right">

      <div *ngIf="this.item !== 'default'">
        <a mat-button routerLink="auth/profile">
          <mat-icon aria-hidden="false" aria-label="Example account_circle icon">account_circle</mat-icon>
          {{ this.item.firstName }}
        </a>

        <a mat-button routerLink="auth/sign-in" (click)="onLogOut()">
          <mat-icon aria-hidden="false" aria-label="Example logout icon">logout</mat-icon>
          Log out
        </a>
      </div>
      <div *ngIf="this.item === 'default'">
        <a mat-button routerLink="auth/sign-in">
          <mat-icon aria-hidden="false" aria-label="Example login icon">login</mat-icon>
          Sign in
        </a>
        <a mat-button routerLink="auth/sign-up">
          <mat-icon aria-hidden="false" aria-label="Example account_circle icon">account_circle</mat-icon>
          Sign up
        </a>
      </div>

    </div>

  </mat-toolbar-row>
</mat-toolbar>

