<div class="wrapper">
    <div class="container">
        <h1>{{ this.title }}</h1>
        <app-today-overview></app-today-overview>
        <br><br>

        <div class="block">
            <app-new-cases></app-new-cases>
        </div>
        <div class="block">
            <app-total-cases></app-total-cases>
        </div>
        
        <div class="block">
            <app-recovered></app-recovered>
        </div>
        <div class="block">
            <app-death></app-death>
        </div>
    </div>
</div>