div {
  height: 400px;
  width: 90%;
  padding-right: 10%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
h2 {
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin: 15px 0 25px;
  padding: 2%;
  text-align: center;
}

ngx-charts-area-chart-stacked {
  text-align: center;
}